*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans';
    opacity: 0.6;
    background-color: rgb(255, 165, 0);
    text-align: center;
}
aside{
    background-color: brown;
    float: left;
    text-align: left;
}
header{
	text-align: center;
	padding: 25px;
    background-color: yellow;
}
nav a{
	display: inline-block;
	text-decoration: none;
	color: #696969;
	margin: 0 20px;
	padding: 5px 15px;
	border-radius: 30px;
	font-size: 18px;
    background-color: rgb(255, 255, 0);
}
nav a:hover {
	background-color: rgb(255, 255, 0);
	color: #fff;
}
.encabezado{
    background-color: rgb(255, 165, 0); 
	height: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.encabezado p{
	font-size: 18px;
}
.encabezado h1{
	font-size: 50px;
	padding: 15px 0;

}
.cuerpo{
    width: 700px;
    height: 700px;
    background: orange;
    position: fixed;
    left: 700px;
    top: 400px;
}    
.panel{
    width: 200px;
    height: 200px;
    background: brown;
    position: fixed;
    left: 0;
    top: 300px;
}
.fondo{
    width: 200px;
    height: 200px;
    background: yellow;
    position: fixed;
    left: 900px;
    top: 900px;
}
.cabeza{
    width: 500px;
    height: 250px;
    background: orange;
    position: fixed;
    left: 700px;
    top: 0px;

}